*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    background: rgb(107, 211, 107);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section h1{
    color: brown;
    font-size: 15vh;
    text-shadow: 7px 3px 10px rgb(231, 226, 226);
}
.centerdiv{
    background-color: rgb(46, 74, 126);
    height: 60vh;
    width: 55vw;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;

    box-shadow: 6px 6px 15px rgb(44, 83, 88);
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-transform: capitalize;
    overflow: auto;
    width: 50vw;
    height:10vh;

}

.imagediv{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}



button{
    margin: 1vh;
    width: 15vw;
      color: rgb(20, 48, 37);
    background-color: rgb(107, 199, 211);
}
